<div class="container">
<h1>Movies List</h1>
<div class="row">
<table class ="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th class="col" scope="col">Movie Title</th>
      <th class="col" scope="col">Year</th>
      <th class="col" scope="col"></th>
    </tr>
  </thead>

  <tbody>
  <% @index = 0 %>
    <% @movies.each do |movie| %>
      <tr>
      <th scope="row"><%= @index += 1 %></th>
        <td class="col-4"><%= movie.title %></td>
        <td class="col-5"><%= movie.year %></td>
        <td class="col-3"><button type="button" class="btn btn-outline-secondary">  <%= link_to 'info', movie %> </button> </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>