/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

body{
    background-color:#eafafa;
    font-family: 'Playfair Display', serif;
    color: #3d2929;
}
.home.index {

    background-image: url(https://images.pexels.com/photos/2990/vintage-old-film.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: auto contain;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    
    h4 {
        color: #996600;
        font-weight: bold;
        background: rgba(214, 245, 245, 0.8);
        padding: 7%;
    }
    .signlinks {
        margin-bottom: 3%;
        .btn {
        background: rgba(214, 245, 245, 0.2);
        float: right;
        }
    }
}

.movies.index table {
    height: 100vh;
    width: 100vw;
}
.nav-tabs{
    margin-left: 2px;
    margin-top: -40px;
    margin-bottom: 2%;
    border-bottom: 2px solid #3d2929;
}
span {
   float: right;
}

.home.index{
    .mq {
    font-family: "Noto Sans Japanese", "Roboto", sans-serif;
    padding-top: 2em;
    margin-left: 2%;

        .dark-primary {
        background-color: white;
        height: 24px;
        width: 100%;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        }

        .title-bar {
        background-color: white;
        color: white;
        padding: 1em;
        
        }

        .title-bar h1 {
        margin-top: 0;
        font-size: 24px;
        }

        .card-style {
        -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        background-color: #fff;
        padding: 0px;
        left: 0;
        margin-bottom: 2em;
        }

        .card-style blockquote {
        margin-left: 1em;
        margin-right: 1em;
        }

        .youtube-iframe iframe {
        position: relative;
        }

        button {
        background-color: white;
        border: none;
        color: #448AFF;
        padding: 1em;
        font-size: 16px;
        text-transform: uppercase;
        outline: 0;
        
        }

        .btn-bar {
        padding: 8px 16px 16px 16px;
        width: 100%;
        text-align: right;
        }
    }


}