<h1>Movies Watchlist</h1>

<table class ="table">
  <thead class="thead-dark">
    <tr>
      <th>Movie</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_movies.each do |user_movie| %>
      <tr>

        <td><%= link_to user_movie.movie.title, movie_path(user_movie.movie) %></td>
        <td><%= user_movie.status %></td>
        <td><%= link_to 'Update', edit_user_movie_url(user_movie) %></td>
        <td><%= link_to 'Delete', user_movie_path(user_movie), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>